@import "variables";
@import "partials/common";
@import "partials/cards";
@import "partials/layout";
@import "partials/nav";


.question-mark {
	font-size: 4rem;
	font-weight: bold;
	animation: questionmark 1s ease-out infinite;
}

@keyframes questionmark {
	to {
		transform: scale(1.3);
	}
}

.image-preview {
	width: 300px;
}

// body {
// 	border: 2px dashed tomato;
// }
