<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Kiddyblaster - WebUI</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
	<div class="brand">kiddyblaster</div>
    <section class="main-container stack">
		<div class="wrapper">
			<nav class="sidebar">
				<ul class="main-nav">
					<li class="main-nav__item">
						<a class="main-nav__link" href="/cards">Karten</a>
					</li>
					<li class="main-nav__item">
						<a class="main-nav__link" href="/cards/write">Neue Karte</a>
					</li> 
					<li class="main-nav__item">
						<a class="main-nav__link" href="/cards/read">Karte(n) auselesen</a>
					</li>
					<li class="main-nav__item">
						<a class="main-nav__link" href="/upload">Upload</a>
					</li>
				</ul>
			</nav>
			<div class="main stack">
				{{{body}}}
			</div>
		</div>
    </section>
	<script type="text/javascript" src="/js/main.min.js"></script>
</body>
</html>
